description "catsnap"

start on (filesystem)
stop on runlevel [016]
respawn
console log

setuid catsnap
env HOME=/home/catsnap
env ENV=/home/catsnap/shared/.env
chdir /home/catsnap/current

exec ./Env/bin/gunicorn catsnap.app:app -b 0.0.0.0:{{ item.0.port }} -w 3 --error-logfile /home/catsnap/shared/log/error.log --access-logfile /home/catsnap/shared/log/access.log
