# {{ansible_managed}}
server {
  listen      80;
  server_name andrewlorente.com;

  return 301 https://www.andrewlorente.com$request_uri;
}

server {
  listen      *:443 ssl;
  server_name andrewlorente.com;

  ssl on;
  ssl_certificate /etc/ssl/www_andrewlorente_com.chained.crt;
  ssl_certificate_key /etc/ssl/www_andrewlorente_com.key;
  ssl_session_cache shared:SSL:50m;
  ssl_session_timeout 5m;

  ssl_protocols TLSv1 TLSv1.2;
  ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH EDH+aRSA !RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS";
  ssl_prefer_server_ciphers on;

  return 301 https://www.andrewlorente.com$request_uri;
}
