{#
  The `first` argument indicates that this is the first instance of a site
  conf to be called. It's used to work around an obnoxious problem: ihe
  `ipv6only` setting has to be set inside a `server` block, but it can only be
  specified once per port. So this macro has to behave a little differently
  depending on whether it's been called before or not.
#}
{% macro conf(site, first=False) %}
upstream {{ site.name }} {
  server localhost:{{ site.port }} weight=1;
}

server {
  server_name {{ site.domain }}.erincall.com;
  {% if first %}
    listen      [::]:80 ipv6only=off;
  {% else %}
    listen      [::]:80;
  {% endif %}
  add_header X-Clacks-Overhead "GNU Terry Pratchett";
  if ($ssl_protocol = "") {
    rewrite ^ https://$server_name$request_uri permanent;
  }
}

server {
  server_name  {{ site.domain }}.andrewlorente.com;
  listen      [::]:80;
  add_header X-Clacks-Overhead "GNU Terry Pratchett";

  return 301 https://{{ site.domain }}.erincall.com$request_uri;
}

server {
  {% if first %}
    listen [::]:443 ssl ipv6only=off;
  {% else %}
    listen      [::]:443 ssl;
  {% endif %}

  server_name {{ site.domain }}.erincall.com;
  root /home/{{ site.name }}/current/static;
  add_header X-Clacks-Overhead "GNU Terry Pratchett";

  ssl on;
  ssl_certificate /etc/ssl/{{ site.name }}_erincall_com.chained.crt;
  ssl_certificate_key /etc/ssl/{{ site.name }}_erincall_com.key;
  ssl_session_cache shared:SSL:50m;
  ssl_session_timeout 5m;

  ssl_protocols TLSv1.2;
  ssl_ciphers "{{ cipher_suites }}";
  ssl_prefer_server_ciphers on;
  ssl_dhparam /etc/ssl/dhparams.pem;
  location ~ / {
    proxy_pass http://{{ site.name }};

    proxy_http_version 1.1;
    proxy_set_header HTTP_HOST $http_host;
    proxy_set_header Host $host;
    proxy_set_header REMOTE_ADDR $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;

  }
}

server {
  server_name  {{ site.domain }}.andrewlorente.com;
  listen      [::]:443 ssl;
  add_header X-Clacks-Overhead "GNU Terry Pratchett";

  ssl on;
  ssl_certificate /etc/ssl/{{ site.domain }}_andrewlorente_com.chained.crt;
  ssl_certificate_key /etc/ssl/{{ site.domain }}_andrewlorente_com.key;
  ssl_session_cache shared:SSL:50m;
  ssl_session_timeout 5m;

  ssl_protocols TLSv1 TLSv1.2;
  ssl_ciphers "{{ cipher_suites }}";
  ssl_prefer_server_ciphers on;
  ssl_dhparam /etc/ssl/dhparams.pem;
  return 301 https://{{ site.domain }}.erincall.com$request_uri;
}
{% endmacro %}
